.Menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #328a53;
}

.Menu h3 .links {
    font-size: 22px;
    color: black;
}

.Menu h3 .links:hover {
    font-size: 24px;
    color: white;
}

.Menu ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

ul .links {
    margin-right: 10px;
}

.linksR {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

ul .linksR {
    margin-right: 10px;
}

ul .linksR:hover {
    color: black;
}


.important {
    padding: 10px;
    text-align: center;
    width: 100px;
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 5px;
    transition: width 2s, padding 2s;
}

.activo {
    color: rgb(85, 122, 223);
    padding: 10px;
    background-color: rgb(46, 46, 46);
    border-radius: 2px;
}

.important:hover {
    width: 110px;
    padding: 12.5px;
}

